
@{
    ViewData["Title"] = "Index";
}

<h1>导出报表</h1>

<div >
    <form asp-action="ExportReport">
        <div class="input-group mb-3" style="width:60%;">
            <input type="text" class="form-control" placeholder="请输入账户" name="account">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" class="form-control" placeholder="请输入起始时间"  name="startTime">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" class="form-control" placeholder="请输入截止时间"  name="endTime">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"  type="submit">导出报表</button>
            </div>

        </div>
    </form>
</div>

