
@{
    ViewData["Title"] = "Index";
    }

<h1>日结清算操作</h1>



<div style="display:flex; ">
    <form asp-action="Calculate">
        <div class="input-group mb-3" style="width:500px">
            <input type="text" class="form-control" placeholder="请输入账户" name="account">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="date" class="form-control" placeholder="请输入时间"  name="liDate">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="input-group-append">
                <button class="btn btn-outline-secondary"  type="submit">清算</button>
            </div>

        </div>
    </form>
</div>
